body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: url("./IMAGES/pink.jpg");
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    min-height: 100vh;
}

.container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(161, 161, 161, 0.239);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 20px #494747;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

.text {
    text-align: left;
    margin-left: 150px;
}

#height,
#weight,
.form-control {
    color: 222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
    width: 200px;
}

.genderr {
    margin-top: 30px;
    margin-bottom: 30px;


}

#height:focus,
#weight:focus,
.form-group:focus,
.form-control:focus {
    border-bottom: 2px solid #341f97;
    width: 300px;
    transition: 0.5s;
}


#btn {
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: rgb(2, 2, 2);
    background-image: linear-gradient(120deg, #bd33c29d, #f58f308c);
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;

}

#result {
    color: #341f97;
}

.btn:hover {
    box-shadow: 1px 1px 10px #341f97;
}

#info {
    font-size: 12px;
    font-family: inherit;
}

/* age, gender */